body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marker {
  transform: translate(-50%, -100%);
}
.marker.yellow path{
  fill: #F3B73E;
}
.marker.red path{
  fill: #F05305;
}
.marker circle{
  fill:#FAFAFA;
}

.popup{
  width: 30vw;
  padding: 0.7rem;
}

.popup img {
  width: 30vw;
  height: 30vh;
  text-align: center;
  margin: 20px auto auto auto;
  display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.error{
  color: #F05305;
}
